@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hovered-object {
  @apply cursor-pointer;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .theme {
    --animate-grid: grid 60s linear infinite;
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(1deg);
  }
}

@theme inline {
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}