@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hovered-object {
  @apply cursor-pointer;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
